html {
	position: relative;
	min-height: 100%;
}
body {
  margin-bottom: 40px;
}
.bcol {
    background-color:tomato;
	box-shadow: 0 4px 2px -2px gray;
}
.fcol {
    color:cornsilk;
}
.messages {
    overflow-y: auto;
    top:0;
    bottom:3em;
    min-height: 300px;
    height: 450px;
    width: 98%;
    border: 1px solid tomato;
    background-color: cornsilk;
    border-radius: 12px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}